FREQTRADE_IMAGE=freqtradeorg/freqtrade:2026.4

# Optional image variants:
# FREQTRADE_IMAGE=freqtradeorg/freqtrade:2026.4_plot
# FREQTRADE_IMAGE=freqtradeorg/freqtrade:2026.4_freqai
# FREQTRADE_IMAGE=freqtradeorg/freqtrade:2026.4_freqaitorch
# FREQTRADE_IMAGE=freqtradeorg/freqtrade:2026.4_freqairl
